<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Comichub</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/small-business.css" rel="stylesheet">
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>
       <div class="navbar navbar-expand-lg navbar-dark bg-dark">
             <img class="img-logo" src="http://placehold.it/300x50">
         </div>
    <div id="wrapper" class="toggled">
       
         <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                
                <br>
                    <a href="perfil.html"><div id="div-img-user"><img class="img-fluid" id="img-user" src="http://placehold.it/70x70" alt="profile_pic" 
					title="Meu Perfil"></div></a>
                <br>
                <li>
                    <div class="btn-menu text-center" title="Pesquisar Comics"><a href="pesquisacomics.html"><i class="fa fa-search"></i></a></div>
                </li>
                
                <li>
                    <div class="btn-menu text-center" title="Minhas Comics"><a href="minhascomics.html"><i class="fa fa-address-book"></i></a></div>
                </li>
                
                <li>
                    <div class="btn-menu text-center" title="Listas de Leitura"><a href="comicsfavoritas.html"><i class="fa fa-bookmark"></i></a></div>
                </li>
                
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="main-content" class="container">
        <br>
        <h1 class="text-center">Cadastrar Comic</h1>
        <form method="POST" enctype="multipart/form-data">
              <div class="form-group">
                  <div class="input-group">
                  
                <input class="form-control" placeholder="Titulo" type="text" name="comicTitle" id="comicTitleInput">
                <div class="input-group-append">
                <span class="input-group-text"><input type="checkbox" name="comicNsfw" value="1" id="comicNsfwInput"></span>
                <span class="input-group-text">
                  NSFW
                </span>
              </div>
              </div>
              </div>
              
              <div class="form-group">
                  
                  <textarea class="form-control" placeholder="Descrição" name="comicDescription" id="comicDescriptionInput"></textarea>
              </div>
            
            
             <div class="form-group">
                  <label for="comicFilesInput" class="text-center">Arquivos</label>
                  <input class="form-control" type="file" name="comicFiles" id="comicFilesInput">
              </div>
           
         </form>
     
        
        
    </div>
    <!-- /.container -->

   
   
    </div>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
  </body>

</html>
